<div class="img">
<div class="header">
  <span class="name">Спортивная <span style="color: black;"> Школа</span></span>
  <span class="links"><a routerLink="/login">Вход</a></span>
</div>

  <mat-carousel class="carousel" timings="250ms ease-in" [autoplay]="true" interval="5000" color="lightgrey"
    maxWidth="auto" proportion="15" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
    [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" opacity="0" [hideOverlay]="false">
      <div
        style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <h1 style="color: white; padding: 10px;">{{ slide }}</h1>
      </div>
    </mat-carousel-slide>
  </mat-carousel>
  <div class="sections">

    <mat-card>
      <mat-card-title>Бокс</mat-card-title>
      <mat-card-content>
        Бокс (от фр. boxe — «бокс» и boxeur — «боксёр»,
        которые происходят от англ. to box — «драться на ринге»,
        «боксировать», или же непосредственно из англ. boxing, to box,
        происходящих, видимо, от англ. box — «коробка», «ящик», «ринг») — контактный вид спорта,
        единоборство, в котором спортсмены наносят друг другу удары кулаками обычно в специальных перчатках.
        Рефери контролирует бой, который длится до 12 раундов. Победа присваивается тому из противников, который набрал
        в
        итоге большее число очков,
        либо победителем объявляют того боксера, которому удалось сбить соперника с ног,
        после чего последний не смог подняться в течение десяти секунд (нокаут); травма,
        не позволяющая продолжать бой, может стать причиной т. н. технического нокаута.
        Если после установленного количества раундов поединок не был прекращён,
        то победитель определяется оценками судей.
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button routerLink="/registration">Записаться</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Карате</mat-card-title>
      <mat-card-content>
        Карате́ — японское боевое искусство,
        система защиты и нападения. В 2020 году — олимпийский вид спорта, в 2024 году карате не будет представлено
        в программе Олимпийских игр.
        На начальном этапе карате представляло собой систему рукопашного боя, предназначавшуюся только для самообороны.
        Сегодня карате приобрело большую известность благодаря показательным выступлениям, демонстрирующим тамэсивари.
        Так, очень опытные мастера могут расколоть кулаком глыбу льда, ударом ноги разнести в щепки брус из сосновой
        физическую силу и не является показателем мастерства). В отличие от других единоборств Японии ,
        которые предполагают борьбу, проведение разного рода бросков, удерживающих захватов и удушающих приёмов, в
        карате
        степень непосредственного контакта между участниками схватки минимальна,
        а для сокрушения противника используются точно нацеленные
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button routerLink="/registration">Записаться</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Борьба</mat-card-title>
      <mat-card-content>
        Борцовская схватка может состояться как с практической целью (боевые действия, самооборона и т. п.), так и с
        состязательной целью, в рамках спортивной борьбы, и в последнем случае проводится по определённым для каждого
        вида
        борьбы правилам и с использованием определённых приёмов борьбы. Борьба характеризуется взаимным преодолением
        сопротивления с помощью применения разрешённых правилами соревнования специальных технических и тактических
        действий[2].

        Целью схватки борцов является победа одного из соперников, выражающаяся в установлении контроля над другим
        соперником, пресечении его возможных дальнейших действий, подготовке своих дальнейших действий. С практической
        точки зрения этого можно добиться путём причинения смерти или травм противнику; с точки зрения спортивной
        борьбы,
        в зависимости от её вида, это выражается в том, что оппонент вынужден занять невыгодное положение (как правило
        лёжа на спине), быть обездвижен, испытывать угрозу травмы или асфиксии. Для достижения этих целей борцы
        используют
        приёмы борьбы, позволяющие сбить соперника с ног и повалить его на землю (различные виды бросков), обездвижить
        соперника (удержания), травмировать соперника (болевые приёмы), задушить соперника (удушающие приёмы). Арсенал
        возможных приёмов в спортивной борьбе ограничен её правилами. Кроме того, в некоторых видах борьбы оцениваются
        также действия борцов, которые почти полностью связаны с состязательным элементом: так, в сумо целая группа
        приёмов посвящена вытеснению противника за границы площадки для борьбы, что влечёт за собой победу оставшегося
        на
        площадке.
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button routerLink="/registration">Записаться</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Метро люблино</mat-card-title>
      <mat-card-content>
        временно не работаем
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button routerLink="/registration">Записаться</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="footer">
    <span>Мы работаем в :<br> г.Гомель  ул.Песина 70</span>
    <span>Часы работы:<br> ПН-ПТ: 10:00-21:00<br>СБ-ВС: 11:00-18:00</span>
    <span>Наши контакты:<br>+375 (29) 662-94-54<br>admin@maygli.by</span>
  </div>
</div>
