
.example-full-width {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

.example-card {
  top: 35%;
  left: 35%;
  // margin: -240px;
  max-width: 400px;
  background-color: rgba($color: white, $alpha: 1);
}




